/* line 17, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../fonts/helveticaneuelight-webfont.eot");
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url(//:) format("no404"), url("../fonts/helveticaneuelight-webfont.woff") format("woff"), url("../fonts/helveticaneuelight-webfont.ttf") format("truetype"), url("../fonts/helveticaneuelight-webfont.svg#webfontMkGLOlV8") format("svg");
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/helveticaneuebold-webfont.eot");
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url(//:) format("no404"), url("../fonts/helveticaneuebold-webfont.woff") format("woff"), url("../fonts/helveticaneuebold-webfont.ttf") format("truetype"), url("../fonts/helveticaneuebold-webfont.svg#webfont2jvunfBH") format("svg");
}

@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("../fonts/helveticaneue-webfont.eot");
}

@font-face {
  font-family: "HelveticaNeueRegular";
  src: url(//:) format("no404"), url("../fonts/helveticaneue-webfont.woff") format("woff"), url("../fonts/helveticaneue-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-webfont.svg#webfont7Svp2ZPN") format("svg");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("../fonts/helveticaneuemedium-webfont.eot");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(//:) format("no404"), url("../fonts/helveticaneuemedium-webfont.woff") format("woff"), url("../fonts/helveticaneuemedium-webfont.ttf") format("truetype"), url("../fonts/helveticaneuemedium-webfont.svg#webfont55wfdJMM") format("svg");
}

/* line 102, ../sass/_base.sass */
body {
  font-family: "HelveticaNeueRegular", sans-serif;
  background: #f9faf9;
  color: #555555;
}

/* line 107, ../sass/_base.sass */
p {
  margin-bottom: 1.214em;
}

/* line 110, ../sass/_base.sass */
a {
  font-family: "HelveticaNeueBold";
  color: #5d9610;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 800ms;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
/* line 115, ../sass/_base.sass */
a:hover {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  color: #a5c876;
}

/* line 120, ../sass/_base.sass */
ul {
  font-family: "HelveticaNeueBold";
}

/* line 123, ../sass/_base.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal !important;
  word-spacing: -0.03em;
  letter-spacing: -0.05em;
  margin-bottom: 1.214em;
  color: #333333;
}

/* line 130, ../sass/_base.sass */
h1 {
  font-family: "HelveticaNeueLight", Helvetica, Arial, Sans-serif;
  font-size: 3.857em;
  line-height: 1.259em;
  margin-bottom: 0em;
}

/* line 135, ../sass/_base.sass */
h2 {
  font-family: "HelveticaNeueBold", Helvetica, Arial, Sans-serif;
  font-size: 1.571em;
  line-height: 1.545em;
  line-height: 0.607em;
  margin-bottom: 0.85em;
}

/* line 141, ../sass/_base.sass */
h3 {
  font-family: "HelveticaNeueBold", Helvetica, Arial, Sans-serif;
  font-size: 1.214em;
  line-height: 2em;
}

/* line 145, ../sass/_base.sass */
h4 {
  font-family: "HelveticaNeueBold", Helvetica, Arial, Sans-serif;
  font-size: 1.214em;
  line-height: 2em;
}

/* line 151, ../sass/_base.sass */
hgroup h1 span {
  font-family: "HelveticaNeueMedium";
}
/* line 153, ../sass/_base.sass */
hgroup h2 {
  font-family: georgia;
  font-style: italic;
  line-height: 1.4em !important;
  font-size: 1.429em;
  line-height: 1.7em;
  margin-bottom: 1.214em;
}

/* line 160, ../sass/_base.sass */
img, embed, object, video {
  max-width: 100%;
}

/* Layout ------------------------------------------------------------------ */
/* line 51, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 82.353%;
  line-height: 1.214em;
}

/* line 55, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 14px;
}

/* line 7, ../sass/screen.sass */
body #page {
  *zoom: 1;
  margin: auto;
  width: 100.0%;
  max-width: 100%;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../sass/screen.sass */
body #page #page-header {
  clear: both;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10.169%;
  padding-right: 10.169%;
  background: url("../images/bg-header-pages.png") repeat-x left bottom;
  padding-top: 2.429em;
  min-height: 85px;
  *zoom: 1;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #page #page-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 18, ../sass/screen.sass */
body #page #page-header #logo {
  display: inline;
  float: left;
  width: 29.787%;
  margin-right: 2.128%;
}
/* line 20, ../sass/screen.sass */
body #page #page-header #main-menu {
  display: inline;
  float: left;
  width: 68.085%;
  margin-right: 2.128%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.695%;
}
/* line 23, ../sass/screen.sass */
body #page #page-header #main-menu ul {
  float: right;
}
/* line 165, ../sass/_base.sass */
body #page #page-header #main-menu ul li {
  font-family: "HelveticaNeueBold";
  color: #bdc4bf;
  font-size: 1.214em;
  line-height: 2em;
  line-height: 2.429em;
  display: inline-block;
  display: inline;
}
/* line 172, ../sass/_base.sass */
body #page #page-header #main-menu ul li:after {
  content: "/";
  padding: 0 4px 0 6px;
}
/* line 176, ../sass/_base.sass */
body #page #page-header #main-menu ul li:first-child a {
  background-image: none;
  padding-right: none;
}
/* line 179, ../sass/_base.sass */
body #page #page-header #main-menu ul li:last-child:after {
  content: "";
  padding: 0;
}
/* line 182, ../sass/_base.sass */
body #page #page-header #main-menu ul li a {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 800ms;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  color: #bdc4bf;
  text-decoration: none;
  font-weight: normal;
}
/* line 188, ../sass/_base.sass */
body #page #page-header #main-menu ul li a:hover {
  -moz-transition-property: color;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  color: #56a26b;
}
/* line 192, ../sass/_base.sass */
body #page #page-header #main-menu ul li.current a {
  color: #0e2d1b;
}
/* line 25, ../sass/screen.sass */
body #page #main {
  clear: both;
  padding-left: 10.169%;
  padding-right: 10.169%;
  *zoom: 1;
  padding-top: 1.214em;
  background: url("../images/bg-header-pages.png") repeat-x bottom;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #page #main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, ../sass/screen.sass */
body #page #main header {
  padding-bottom: 2.429em;
}
/* line 33, ../sass/screen.sass */
body #page #main header #featured {
  text-align: center;
}
/* line 35, ../sass/screen.sass */
body #page #main .column-1 {
  display: inline;
  float: left;
  width: 29.787%;
  margin-right: 2.128%;
  padding-left: 0%;
}
/* line 38, ../sass/screen.sass */
body #page #main .column-2 {
  display: inline;
  float: left;
  width: 29.787%;
  margin-right: 2.128%;
  padding-left: 0%;
}
/* line 41, ../sass/screen.sass */
body #page #main .column-3 {
  display: inline;
  float: left;
  width: 29.787%;
  margin-right: 2.128%;
  padding-left: 0%;
}
/* line 45, ../sass/screen.sass */
body #page #main .column-1 h2, body #page #main .column-2 h2, body #page #main .column-3 h2 {
  font-size: 2em;
  line-height: 1.214em;
}
/* line 47, ../sass/screen.sass */
body #page #main .column-1 ul, body #page #main .column-2 ul, body #page #main .column-3 ul {
  list-style: disc inside;
  color: #555555;
}
/* line 50, ../sass/screen.sass */
body #page #main .column-1 ul li, body #page #main .column-2 ul li, body #page #main .column-3 ul li {
  padding-left: 1.5em;
  margin-bottom: 0.607em;
  font-size: 0.929em;
  line-height: 1.308em;
}
/* line 54, ../sass/screen.sass */
body #page #main footer {
  display: inline;
  float: left;
  width: 93.617%;
  margin-right: 2.128%;
  padding-left: 0%;
  padding-right: 6.383%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.695%;
  *zoom: 1;
  padding-bottom: 1.214em;
  padding-top: 1.214em;
  text-align: center;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #page #main footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 63, ../sass/screen.sass */
body #page #main footer .col-txt {
  display: inline;
  float: left;
  width: 70.732%;
  margin-right: 2.439%;
}
/* line 65, ../sass/screen.sass */
body #page #main footer .col-txt p {
  font-size: 1.071em;
  line-height: 2.267em;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  padding-top: 1.214em;
  padding-bottom: 1.214em;
  margin-bottom: 1.214em;
  line-height: 1.214em;
  font-family: "HelveticaNeueBold";
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  background-color: #edeeed;
}
/* line 77, ../sass/screen.sass */
body #page #main footer .col-btn {
  display: inline;
  float: left;
  width: 26.829%;
  margin-right: 2.439%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.695%;
  float: left;
}
/* line 81, ../sass/screen.sass */
body #page #main footer .col-btn a {
  font-family: "HelveticaNeueBold";
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 2.429em;
  line-height: 3.643em;
  border-bottom: 1px solid #915d10;
  border-top: 1px solid #efd18f;
  border-left: 1px solid #e3ad4c;
  border-right: 1px solid #b47c17;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 0 5px 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 0 5px 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.2) 0 0 5px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 5px 1px inset;
  background-image: url('../images/noise.png?1311361162'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfa21e), color-stop(33.333%, #dc9b1d), color-stop(66.667%, #d88f1a), color-stop(100%, #d58818));
  background-image: url('../images/noise.png?1311361162'), -webkit-linear-gradient(top, #dfa21e, #dc9b1d, #d88f1a, #d58818);
  background-image: url('../images/noise.png?1311361162'), -moz-linear-gradient(top, #dfa21e, #dc9b1d, #d88f1a, #d58818);
  background-image: url('../images/noise.png?1311361162'), -o-linear-gradient(top, #dfa21e, #dc9b1d, #d88f1a, #d58818);
  background-image: url('../images/noise.png?1311361162'), -ms-linear-gradient(top, #dfa21e, #dc9b1d, #d88f1a, #d58818);
  background-image: url('../images/noise.png?1311361162'), linear-gradient(top, #dfa21e, #dc9b1d, #d88f1a, #d58818);
}
/* line 213, ../sass/_base.sass */
body #page #main footer .col-btn a:hover {
  background-image: url('../images/noise.png?1311361162'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dea21e), color-stop(33.333%, #eaa51f), color-stop(66.667%, #e5971a), color-stop(100%, #d68818));
  background-image: url('../images/noise.png?1311361162'), -webkit-linear-gradient(top, #dea21e, #eaa51f, #e5971a, #d68818);
  background-image: url('../images/noise.png?1311361162'), -moz-linear-gradient(top, #dea21e, #eaa51f, #e5971a, #d68818);
  background-image: url('../images/noise.png?1311361162'), -o-linear-gradient(top, #dea21e, #eaa51f, #e5971a, #d68818);
  background-image: url('../images/noise.png?1311361162'), -ms-linear-gradient(top, #dea21e, #eaa51f, #e5971a, #d68818);
  background-image: url('../images/noise.png?1311361162'), linear-gradient(top, #dea21e, #eaa51f, #e5971a, #d68818);
}
/* line 83, ../sass/screen.sass */
body #page #secondary {
  clear: both;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10.169%;
  padding-right: 10.169%;
  *zoom: 1;
  padding-top: 3.643em;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #page #secondary:after {
  content: "";
  display: table;
  clear: both;
}
/* line 88, ../sass/screen.sass */
body #page #secondary header {
  clear: both;
}
/* line 90, ../sass/screen.sass */
body #page #secondary .column-1 {
  display: inline;
  float: left;
  width: 36.17%;
  margin-right: 2.128%;
}
/* line 92, ../sass/screen.sass */
body #page #secondary .column-2 {
  display: inline;
  float: left;
  width: 55.319%;
  margin-right: 2.128%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.695%;
}
/* line 96, ../sass/screen.sass */
body #page #secondary .column-2 #illustration-inchoo img {
  vertical-align: bottom;
}
/* line 98, ../sass/screen.sass */
body #page #page-footer {
  *zoom: 1;
  padding-top: 2.429em;
  padding-bottom: 2.429em;
  background-color: #e5e5e5;
  clear: both;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10.169%;
  padding-right: 10.169%;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #page #page-footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 105, ../sass/screen.sass */
body #page #page-footer p {
  font-family: Georgia;
  font-style: italic;
}
/* line 108, ../sass/screen.sass */
body #page #page-footer a {
  color: #333333;
}
/* line 110, ../sass/screen.sass */
body #page #page-footer a:hover {
  color: #bfbfbf;
}
/* line 112, ../sass/screen.sass */
body #page #page-footer .column-1 {
  display: inline;
  float: left;
  width: 23.404%;
  margin-right: 2.128%;
}
/* line 114, ../sass/screen.sass */
body #page #page-footer .column-2, body #page #page-footer .column-3 {
  display: inline;
  float: left;
  width: 23.404%;
  margin-right: 2.128%;
}
/* line 116, ../sass/screen.sass */
body #page #page-footer .column-4 {
  display: inline;
  float: left;
  width: 23.404%;
  margin-right: 2.128%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1.695%;
}

/* Media Queries ------------------------------------------------------------ */
@media screen and (min-width: 1500px) {
  /* line 51, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  body {
    font-size: 94.118%;
    line-height: 1.188em;
  }

  /* line 55, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html > body {
    font-size: 16px;
  }

  /* line 128, ../sass/screen.sass */
  body hgroup {
    text-align: center;
  }
  /* line 132, ../sass/screen.sass */
  body #page #secondary hgroup {
    text-align: left;
  }
}
@media screen and (max-width: 1024px) {
  /* line 139, ../sass/screen.sass */
  body hgroup h1 {
    font-size: 3.5em;
    line-height: 1.163em;
  }
  /* line 141, ../sass/screen.sass */
  body hgroup h2 {
    font-size: 1.5em;
    line-height: 1.81em;
  }
  /* line 144, ../sass/screen.sass */
  body #page #page-header {
    padding-left: 5.085%;
    padding-right: 5.085%;
  }
  /* line 146, ../sass/screen.sass */
  body #page #page-header #logo {
    display: inline;
    float: left;
    width: 32.075%;
    margin-right: 1.887%;
  }
  /* line 148, ../sass/screen.sass */
  body #page #page-header #main-menu {
    display: inline;
    float: left;
    width: 66.038%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
  }
  /* line 151, ../sass/screen.sass */
  body #page #main {
    padding-left: 5.085%;
    padding-right: 5.085%;
    clear: both;
    padding-bottom: 1.357em;
  }
  /* line 155, ../sass/screen.sass */
  body #page #main .column-1, body #page #main .column-3 {
    display: inline;
    float: left;
    width: 43.396%;
    margin-right: 1.887%;
    padding-right: 5.66%;
    padding-left: 0%;
  }
  /* line 159, ../sass/screen.sass */
  body #page #main .column-2, body #page #main footer {
    display: inline;
    float: left;
    width: 43.396%;
    margin-right: 1.887%;
    padding-right: 5.66%;
    padding-left: 0%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
  }
  /* line 164, ../sass/screen.sass */
  body #page #main .column-1, body #page #main .column-2, body #page #main .column-3 {
    padding-bottom: 1.357em;
  }
  /* line 166, ../sass/screen.sass */
  body #page #main footer {
    padding-bottom: 1.357em;
    padding-top: 1.357em;
  }
  /* line 169, ../sass/screen.sass */
  body #page #main footer .col-txt {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 4.348%;
  }
  /* line 171, ../sass/screen.sass */
  body #page #main footer .col-btn {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 4.348%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
  }
  /* line 174, ../sass/screen.sass */
  body #page #secondary {
    padding-left: 5.085%;
    padding-right: 5.085%;
  }
  /* line 176, ../sass/screen.sass */
  body #page #secondary .column-1 {
    display: inline;
    float: left;
    width: 37.736%;
    margin-right: 1.887%;
  }
  /* line 178, ../sass/screen.sass */
  body #page #secondary .column-2 {
    display: inline;
    float: left;
    width: 54.717%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
  }
  /* line 181, ../sass/screen.sass */
  body #page #secondary .column-2 #illustration-inchoo {
    padding-top: 4.071em;
  }
  /* line 183, ../sass/screen.sass */
  body #page #page-footer {
    padding-left: 5.085%;
    padding-right: 5.085%;
  }
}
@media screen and (max-width: 810px) {
  /* line 192, ../sass/screen.sass */
  body #page #secondary .column-2 #illustration-inchoo {
    padding-top: 4.071em;
  }
}
@media screen and (max-width: 840px) {
  /* line 51, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  body {
    font-size: 76.471%;
    line-height: 1.462em;
  }

  /* line 55, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html > body {
    font-size: 13px;
  }

  /* line 200, ../sass/screen.sass */
  body hgroup h1 {
    font-size: 3.286em;
    line-height: 1.239em;
  }
  /* line 202, ../sass/screen.sass */
  body hgroup h2 {
    font-size: 1.357em;
    line-height: 2em;
  }
  /* line 205, ../sass/screen.sass */
  body #page #page-header {
    padding-left: 5.085%;
    padding-right: 5.085%;
  }
  /* line 207, ../sass/screen.sass */
  body #page #page-header #logo {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
    text-align: center;
  }
  /* line 211, ../sass/screen.sass */
  body #page #page-header #main-menu {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
    padding-bottom: 1.357em;
    padding-top: 1.357em;
  }
  /* line 216, ../sass/screen.sass */
  body #page #page-header #main-menu ul {
    float: none;
    text-align: center;
  }
  /* line 221, ../sass/screen.sass */
  body #page #secondary .column-2 #illustration-inchoo {
    padding-top: 6.786em;
  }
}
@media screen and (max-width: 710px) {
  /* line 228, ../sass/screen.sass */
  body hgroup h1 {
    font-size: 2.214em;
    line-height: 1.226em;
  }
  /* line 230, ../sass/screen.sass */
  body hgroup h2 {
    font-size: 1.286em;
    line-height: 2.111em;
  }
  /* line 234, ../sass/screen.sass */
  body #page #secondary .column-1, body #page #secondary .column-2 {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
  }
  /* line 237, ../sass/screen.sass */
  body #page #secondary .column-1 #illustration-inchoo, body #page #secondary .column-2 #illustration-inchoo {
    padding-top: 0em;
  }
  /* line 240, ../sass/screen.sass */
  body #page #page-footer .column-1, body #page #page-footer .column-2, body #page #page-footer .column-3 {
    display: inline;
    float: left;
    width: 32.075%;
    margin-right: 1.887%;
  }
  /* line 242, ../sass/screen.sass */
  body #page #page-footer .column-3 {
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
  }
  /* line 244, ../sass/screen.sass */
  body #page #page-footer .column-4 {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
    margin-top: 2.714em;
  }
  /* line 249, ../sass/screen.sass */
  body #page #page-footer .column-1 div, body #page #page-footer .column-2 div, body #page #page-footer .column-3 div, body #page #page-footer .column-4 div {
    border-left: 1px solid #cccccc;
    padding: 0 1em;
  }
}
@media screen and (max-width: 480px) {
  /* line 51, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  body {
    font-size: 70.588%;
    line-height: 1.333em;
  }

  /* line 55, ../../../.rvm/gems/ruby-1.9.2-p180@basic/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html > body {
    font-size: 12px;
  }

  /* line 259, ../sass/screen.sass */
  body hgroup h1 {
    font-size: 1.929em;
    line-height: 1.185em;
  }
  /* line 261, ../sass/screen.sass */
  body hgroup h2 {
    font-size: 1.286em;
    line-height: 1.778em;
  }
  /* line 266, ../sass/screen.sass */
  body #page #page-header #main-menu ul {
    font-size: 0.857em;
    line-height: 1.333em;
  }
  /* line 268, ../sass/screen.sass */
  body #page #page-header #main-menu ul li:after {
    padding: 0 1px 0 4px;
  }
  /* line 271, ../sass/screen.sass */
  body #page #main .column-1, body #page #main .column-2, body #page #main .column-3 {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 1.143em;
  }
  /* line 277, ../sass/screen.sass */
  body #page #main .column-1 h2, body #page #main .column-2 h2, body #page #main .column-3 h2 {
    font-size: 1.571em;
    line-height: 1.455em;
  }
  /* line 279, ../sass/screen.sass */
  body #page #main footer {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
    padding-left: 0%;
    padding-right: 0%;
  }
  /* line 284, ../sass/screen.sass */
  body #page #main footer .col-txt {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.887%;
  }
  /* line 286, ../sass/screen.sass */
  body #page #main footer .col-btn {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
  }
  /* line 290, ../sass/screen.sass */
  body #page #page-footer .column-1, body #page #page-footer .column-3 {
    display: inline;
    float: left;
    width: 43.396%;
    margin-right: 1.887%;
    padding-right: 10.169%;
  }
  /* line 293, ../sass/screen.sass */
  body #page #page-footer .column-2, body #page #page-footer .column-4 {
    display: inline;
    float: left;
    width: 43.396%;
    margin-right: 1.887%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1.695%;
  }
  /* line 296, ../sass/screen.sass */
  body #page #page-footer .column-1, body #page #page-footer .column-2, body #page #page-footer .column-3, body #page #page-footer .column-4 {
    margin-bottom: 2.286em;
    margin-top: 0em;
  }
}
